.card-header-secondary{
    background: linear-gradient(60deg, #6c757d, #6c757d);
}

.bottom-fixed{
    position: absolute;
    bottom: 1rem;
}
.card-category{
    font-size: 20px !important;
    font-weight: bold;
}
.card-title{
    font-weight: bold;
}